/lab03/unit04_as_students/build/
/lab05/unit05/nbproject/private/
/lab05/unit05/build/
/lab05/unit05/dist/
/ea_midterm_st/dist/
/ea_midterm_st/nbproject/private/
/ea_midterm_st/build/
/unit07/unit07db/nbproject/private/
/unit07/unit07/nbproject/private/
/newspaper/nbproject/private/
/newspaper/build/